.hrl{
    opacity: 0.1;
}
.name{
    color: #FF5733;
}
.about-title{
    color: #222222;
    font-size: 3.75rem;
}
.about-paragraph{
    color: #888888;
    font-size: 18px;
}
.about-btn{
    background-color: #FF5733;
}
.client-fb{
    width: 9rem;
    height: 1.72rem;
}
.client-tinder{
    width: 5.82rem;
    height: 2.05rem;
}
.client-airbnb{
    width: 8.396rem;
    height: 2.64rem;
}
.client-microsoft{
    width: 155.48px;
    height: 31.73px;
}
.client-hubspot{
    width: 121.63px;
    height: 31.73px;
}
.quote-title{
    color: #222222;
    font-size: 3rem;
}
.quote-paragraph{
    color: #888888;
    font-size: 1.125rem;
}
.services-title,.experience-title{
    font-size: 48px;
}
.highlighted-underline{
    border-bottom: 3px solid #FF5733;
}
#service-title{
    color: #222222;
    font-size: 1.5rem;
}
#service-paragraph,#experience-paragraph,#exp-stats-paragraph,#testimonial-paragraph {
    font-size: 1rem;
    color: #888888;
}
#service-btn{
    color: #FF5733;
}
#exp-stat-box{
    background-color: #F9F9F9;
    width: 45%;
}
.exp-stats-title{
    color: #FF5733;
    font-size: 3rem;
}
.work-position{
    font-size: 1.5rem;
    color: #888888;
}
.work-place{
    font-size: 2.25rem;
    color: #222222;
}
.time-place{
    font-size: 1rem;
    color: #888888;
}
.testimonial{
    background-color: #F9F9F9;
}
.testimonial-btn{
    background-color: #EFEFEF;
}
.testimonial-btn:hover,.testimonial-btn:focus{
    border: none;
    background-color: #EFEFEF;
}
.testimonial-person-name{
    font-size: 1.25rem;
    color: #222222;
}
.testimonial-person-work{
    font-size: 1rem;
    color: #777777;
}